body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

figure.figure{
  border: 8px solid red;
}

figure.figure-img{
  width: 50%;
  height: 50%;
}
